{% block content %}
    <!--******************** About Section ********************-->
    <section id="about" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-desktop-circled"></i></div>
        <h1 id="folio-headline">Portfolio...</h1>
        <div class="row">
          <div class="span4">
            <div class="mask2"> <a href="{{ asset('bundles/stcms/portfolio-01.jpg') }}" rel="prettyPhoto"><img src="{{ asset('bundles/stcms/img/portfolio-01.jpg') }}" alt=""></a> </div>
            <div class="inside">
              <hgroup>
                <h2>Ethan Marcotte Design</h2>
              </hgroup>
              <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a class="more-link" href="#">view project</a> </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="{{ asset('bundles/stcms/img/portfolio-02.jpg') }}" rel="prettyPhoto"><img src="{{ asset('bundles/stcms/img/portfolio-02.jpg') }}" alt=""></a> </div>
            <div class="inside">
              <hgroup>
                <h2>A Book Apart</h2>
              </hgroup>
              <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a class="more-link" href="#">view project</a> </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="{{ asset('bundles/stcms/img/portfolio-03.jpg') }}" rel="prettyPhoto"><img src="{{ asset('bundles/stcms/img/portfolio-03.jpg') }}" alt=""></a> </div>
            <div class="inside">
              <hgroup>
                <h2>Four Rules for Designers</h2>
              </hgroup>
              <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a class="more-link" href="#">view project</a> </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
        </div>
        <!-- /.row -->
        
        <div class="row">
          <div class="span4">
            <div class="mask2"> <a href="{{ asset('bundles/stcms/img/portfolio-01.jpg') }}" rel="prettyPhoto"><img src="{{ asset('bundles/stcms/img/portfolio-03.jpg') }}" alt=""></a> </div>
            <div class="inside">
              <hgroup>
                <h2>Ethan Marcotte Design</h2>
              </hgroup>
              <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a class="more-link" href="#">view project</a> </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="{{ asset('bundles/stcms/img/portfolio-02.jpg') }}" rel="prettyPhoto"><img src="{{ asset('bundles/stcms/img/portfolio-01.jpg') }}" alt=""></a> </div>
            <div class="inside">
              <hgroup>
                <h2>A Book Apart</h2>
              </hgroup>
              <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a class="more-link" href="#">view project</a> </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
          <div class="span4">
            <div class="mask2"> <a href="{{ asset('bundles/stcms/img/portfolio-03.jpg') }}" rel="prettyPhoto"><img src="{{ asset('bundles/stcms/img/portfolio-02.jpg') }}" alt=""></a> </div>
            <div class="inside">
              <hgroup>
                <h2>Four Rules for Designers</h2>
              </hgroup>
              <div class="entry-content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a class="more-link" href="#">view project</a> </div>
            </div>
            <!-- /.inside -->
          </div>
          <!-- /.span4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
{% endblock %}

