<!DOCTYPE html>
{% set htmlLocale = app.request.locale|default(defaultlocale)|slice(0,2) %}
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ htmlLocale }}"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8" lang="{{ htmlLocale }}">        <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="{{ htmlLocale }}">               <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="{{ htmlLocale }}">                  <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ websitetitle | trans }}{% block title %}{% if page is defined and nodemenu.getActiveForDepth(2) is not null %} - {{ get_title_for(page) }}{% endif %}{% endblock %}</title>
    <meta name="description" content="">
    {% if page is defined %}
        {{ render_seo_metadata_for(page) }}
    {% endif %}

    <!-- favicon - apple touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/stwebsite/favicon.ico') }}" type="image/x-icon">

    <!-- css -->
    {% include 'STWebSiteBundle:Layout:_css.html.twig' %}

    <!-- js -->
    {% include 'STWebSiteBundle:Layout:_js_header.html.twig' %}
</head>
<body {% block extra_body_attributes %}{% endblock %}>
    {% block header %}
       {% include 'STWebSiteBundle:Main:menu.html.twig' %}
    {% endblock %}
    <div id="top"></div>
    <!-- Main -->
	<main role="main">
	    {% block content %}{% endblock %}
	</main>
	{% block footer %}
	   {% include 'STWebSiteBundle:Main:footer.html.twig' %}
	{% endblock %}
	{% include 'STWebSiteBundle:Layout:_js_footer.html.twig' %}
</body>
</html>
